@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --SizeFont1: 1.1rem;
    --SizeFont2: 0.9rem;
    --SizeFont3: 1.5rem;

    --ColorFont1: #f0f0f0;
    --ColorFont2: #302f2f;
    --ColorFont3: #bdbcbc;
    --BackGround1: #f0f0f0;
    --BackGround2: #2a3f55;

    --FontFamily1: "Montserrat", sans-serif;
}

body{
    color: var(--ColorFont2);
    font-optical-sizing: auto;
    font-family: var(--FontSize1);
    font-style: normal;
    margin: 0;
    padding: 5px;
}

header {
    background-color: var(--BackGround2);
    border-radius: 1rem;
    text-align: center;
    /*display: block;
    /*margin: 0.5rem;*/
    /*position: fixed; /*  Encabezado fijo */
    /*
    top: 0;
    transition: padding 0.6s ease; /* Transición suave */
}

.headerFotoPerfil{
    border-radius: 10px;
    padding: 5px 0;
    width: 15rem;
}

h1{
    color: var(--ColorFont1);
    font-family: var(--FontFamily1);
    font-size: var(--SizeFont1);
    margin: 5px 0;
    padding: 0;
}

.headerPerfilLaboral{
    font-family: var(--FontFamily1);
    font-size: var(--SizeFont2);
    color: var(--ColorFont1);
    margin: 0;
    padding: 0;
}

.headerRedesSociales{
    padding: 0.8rem;
    text-align: right;
}

.headerIconoRedesSociales{
    color: var(--ColorFont1);
    text-decoration: none;
    font-size: var(--SizeFont3);
    opacity: 30%;
    padding: 0.3rem;
}

.headerIconoRedesSociales:hover{
    opacity: 100%;
}

hr{
    opacity: 50%;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 0;
    width: 98%;
}

#sectionIconos{
    color: var(--BackGround2);
    font-size: var(--SizeFont1);
    padding: 0.5rem;
}

strong{
    color: var(--BackGround2);
}

.sectionContenedorFormacionExperiencia{
    padding: 0.3rem;
    font-family: var(--FontFamily1);
    color: var(--ColorFont2);
}

.sectionUniversidad{
    font-size: var(--ColorFont2);
    align-content: center;
}

.sectionListaAcademica{
    font-size: var(--SizeFont2);
    color: var(--ColorFont2);
}

.shrink {
    padding: 0; /*  Encabezado reducido */
}

@media (max-width: 768px) {
    header{
        text-align: center;
        width: 100%;
    }

    .headerRedesSociales{
        text-align: center;
    }

    .headerIconoRedesSociales{
        opacity: 50%;
    }
}
