@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --SizeFont1: 1.1rem;
    --SizeFont2: 0.9rem;
    --SizeFont3: 1.5rem;

    --BackGroundGris: #f4f4f4;
}

body {
    background-color: var(--BackGroundGris);
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 1%;
    padding: 1%;
}

header {
    border-radius: 10px;
    background-color: #2a3f55;
    color: rgb(231, 231, 231);
    text-align: center;
    padding: 3%;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.profile-img {
    border-radius: 10px;
    height: 120px;
    margin-top: 10px;
}

h1 {
    margin: 10px 0;
    font-size: var(--SizeFont3);
}

main {
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    border-bottom: 2px solid #2a3f55;
    padding-bottom: 5px;
    font-size: var(--SizeFont1);
}

section {
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.about, .experience, .containerPefil{
    font-size: var(--SizeFont2);
}

footer {
    border-radius: 10px;
    background-color: #2a3f55;
    color: rgb(231, 231, 231);
    text-align: center;
    padding: 20px;
}

.containerRedesSociales{
    display: inline-block;
    width: 30px;
    color: #333;
    filter: invert(1.1rem);
}

 @media (max-width: 768px) {
      .container{
        width: 100%;
        margin: 0 auto;
      }

      h1{
        font-size: 1rem;
      }

      .ConteinerPefil{
        font-size: 0.8rem;
      }
    }